html {
    font-family: Calibri;
}

.tabel tr td {
    text-align: center;
    font-size: 13px;
}

.container {
    border: solid 1px black;
}

.header {
    background-color: lightgray;
    font-weight: bold;
    text-align: center;
}

.table-data-requestor {
    margin: 0;
}

.header-table-data-requestor {
    margin: 0;
    padding: 10px;
}

.body-table-data-requestor {
    margin: 0;
    padding: 10px;
}

.tabel_ttd_requestor {
    margin-bottom: 5px;
    margin-right: 10px;
    display: grid;
    justify-items: end;
}

#judul_dokumen {
    text-align: center;
    font-weight: bold;
}

#informasi_dokumen {
    text-align: left;
    padding-left: 5px;
}

#garis_bawah {
    border-bottom: 1px solid black;
}

.kolom_nama {
    width: 18%;
}

.kolom_isi_nama {
    width: 25%;
}


/*UNITBAGIAN & JABATAN*/

.kolom_kedua {
    padding-left: 2rem;
    width: 5rem;
}

.kolom_aset {
    width: 35%;
}

#garis_bawah_noaset {
    border-bottom: 1px solid black;
    width: 80%;
    display: block;
}

.titikdua {
    width: 1%;
}

.nama_tanda_tangan {
    width: 8rem;
    display: block;
}

.kolom_tanda_tangan {
    display: flex;
    text-align: center;
    padding-top: 5px;
}

.kotak-ttd {
    border: solid 1px black;
    width: 200px;
    height: 60px;
    text-align: center;
}

.gambar_ttd {
    width: 100px;
    margin-bottom: -8px;
}

.header-kolom-admin {
    font-weight: bold;
    text-align: left;
}

.kolom_check_software {
    text-align: center;
    display: block;
    margin-left: -15px;
    margin-right: -5px;
}

.kolom_software {
    width: 25%;
}

.kolom_version {
    width: 10%;
}

.kolom_notes {
    display: table;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 85%;
}

.jarak-kiri {
    padding-left: 15px;
}

.konten {
    width: 100%;
}

.kolom1 {
    width: 40%;
    float: left;
}

.kolom2 {
    width: 60%;
    float: right;
}


/* untuk ttd admin dan request owner */

.pembungkus {
    /* margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px; */
    margin: 10px;
}

.tabel_ttd_request_owner,
.tabel_ttd_admin {
    display: inline-block;
}

.tabel_ttd_admin {
    float: right;
}

.kolom_ttd_admin {
    display: flex;
}

.kotak_ttd_request_owner {
    border: solid 1px black;
    width: 200px;
    height: 60px;
    text-align: center;
}

.judul_ttd_request_owner {
    margin-left: 5px;
    text-align: left;
}

.gambar_ttd_request_owner {
    width: 100px;
    margin-top: -20px;
    margin-bottom: -5px;
}

#garis_bawah_request_owner {
    border-bottom: 1px solid black;
    width: 90%;
    margin-left: 0.5rem;
}

#garis_bawah_request_owner_kosong {
    border-bottom: 1px solid black;
    width: 90%;
    margin-left: 0.5rem;
    margin-top: 25px;
}


/* Untuk kolom otorisasi */

.table_otorisasi {
    padding-right: 1rem;
}

.kotak_otorisasi {
    border: solid 1px black;
}


/* Cetak ke media A4 */

@media print {
    @page {
        size: A4;
        margin: 7mm;
    }
    html,
    body {
        width: 210mm;
        height: 297mm;
        /* margin: 20mm 20mm 20mm 20mm; */
    }
}